@import "~antd/dist/antd.css";
/* PHONE SIZE */
@media (max-width: 575.98px) {
  .chat .userphoto {
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
  }
  .chat .chatmessage {
    width: 75%;
    padding: 5px;
    margin: 5px 10px 0;
    background: rgba(53, 51, 172, 0.781);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
  }
  .chat-form textarea {
    background: rgb(231, 224, 224);
    width: 85%;
    height: 40px;
    border: 2px solid #1adda4;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  .chat-form button {
    padding: 5px 15px;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    margin: 0 10px;
    cursor: pointer;
  }
}

/* DESKTOP SIZE */
@media (min-width: 768px) {
  .chat .userphoto {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
  }

  .chat .chatmessage {
    width: 85%;
    padding: 15px;
    margin: 5px 10px 0;
    background: rgba(53, 51, 172, 0.781);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;        
  }
  .chat-form textarea {
    background: rgb(231, 224, 224);
    width: 85%;
    height: 50px;
    border: 2px solid #1adda4;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
  }
  .chat-form button {
    padding: 5px 15px;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    margin: 5px 10px;
    cursor: pointer;
  }
}

/* CHAT LAYOUT */

.chatbox {
  min-width: 390px;
  height: 650px;
  background: rgba(224, 219, 219, 0.541);
}
.chatlogs {
  padding: 10px 0;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chatlogs textarea::-webkit-scrollbar {
  width: 10px;
}

.chatlogs textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}
.friend .chatmessage {
  background: #1adda4;
}
.self .chatmessage {
  order: -1;
}
.chat-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.peerChat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 65px;
  margin: 5px 0px;
  border: 1px solid #000;
}

.peerChat .username{
  align-self: center;
  margin: 0.5em;
}

.peerChat .ava{
  margin: 0.5em;
}

/* END CHAT LAYOUT */
.contact-list {
  padding: 0 1em;
}
.container {
  margin: 0 0.5em;
}

.site-layout-background {
  background: rgba(224, 219, 219, 0.541);
}
